/* Colors
---------

background: f9f9f9
  header: D7D7D7
  navigation: f1f1f1
  color: #333;
  border, dark: #C6C6C6
  border, light: E3E3E3

link: #21759B
  hover: d54e21;
*/





body.dashboard {
  background: #f9f9f9;
  color: #333;  
}
body.dashboard a, body.dashboard a:visited {
  color: #21759B;
}
body.dashboard a:hover, body.dashboard a:active, body.dashboard a:focus {
  color: #d54e21;
}


/* Header
*/


body.dashboard #header {
  border-bottom: 1px solid #C6C6C6;
  background: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
  padding: 1em 0;
}


/* Navigation
*/

body.dashboard #navigation {  
}
body.dashboard #navigation #level-1 ul {
  background: #e9e9e9;
}
body.dashboard #navigation #level-1 ul li {
  border: 1px solid #ccc;
  border-bottom: 1px solid #f1f1f1;  
}
body.dashboard #navigation #level-1 ul li.selected {
  border-bottom: 2px solid #f1f1f1;
  background: #f1f1f1;
}
body.dashboard #navigation #level-2 ul {
  background: #f1f1f1;  
}
body.dashboard #navigation #level-2 ul li.selected {
  border-bottom: 4px solid #f9f9f9;
  background: #f9f9f9;
}

body.dashboard #navigation ul li a, body.dashboard #navigation ul li a:visited, body.dashboard #navigation ul li a:hover,
body.dashboard #navigation ul li a:active, body.dashboard #navigation ul li a:focus {
  text-decoration: none;
}

body.dashboard #navigation ul {
  display: block;
  margin: 0;
  padding: 0;
  padding: .5em 0;
  height: 1.9em;
}
body.dashboard #navigation ul li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;
  padding: .5em 1em;
  margin-right: .25em;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
}




/* Content
*/

body.dashboard #content {
  margin: 0 1em;
  width: 98%;
}
body.dashboard #content #operations {
  margin-bottom: .5em;
}
body.dashboard #content #column-names {
  border-bottom: 1px solid #C6C6C6;
  background: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
}
body.dashboard #content #column-names .items .item {
  font-weight: bold;
}
body.dashboard #content #column-names .items {
  border-bottom: none;
}
body.dashboard #content .items {
  padding: .5em 0;
  border-bottom: 1px solid #eee;
}
body.dashboard #content .even {
  background: #fff;
}
body.dashboard #content .crud {
  font-size: smaller;
  padding: .5em 0 0 
}

/* Products */
body.dashboard #content #products .name {
  width: 30%;
}
body.dashboard #content #products .description {
  width: 20%;
}
body.dashboard #content #products .sku, body.dashboard #content #products .stock, body.dashboard #content #products .price {
  width: 16.6%;
}


/* Errors
*/


.field_with_errors {
  padding: .25em;
  background-color: #d54e21;
  color: white;
  display: table;
}

#error_explanation {  
  border: 2px solid #d54e21;
  padding-bottom: 0;  
  margin-bottom: 2em;
  width: 50%;
}

#error_explanation h2 {  
  color: #fff;
  background-color: #d54e21;
}

#error_explanation ul li {
  list-style: square;
  padding: 1em 0;
}





