<h1>Products</h1>


<% @products.each do |product| %>
  <%= product.name %>
  <br/>
<% end %>

<br/>
And now with liquid:
<br/>
<%= Liquid::Template.parse("{% for product in products %}{{ product.name }}{% endfor %}").render('products' => @products) %>


